<h1>Nuvemteca</h1>
<p>Nuvemteca é um sistema para catálogo de livros onde você pode cadastrar todos os seus livros e ter controle de todo seu acervo. Cadastre-se e comece a usar!</p>
<p>Esse site ainda é um protótipo, por isso suas informações podem desaparecer. Você pode nos ajudar enviando suas críticas, sugestões e erros usando o formulário abaixo:</p>
<%= render 'tickets/form' %>
